<section>
	<div class="container-lg">

		<div class="row">
			
			<div class="col">
				<%= image_tag "brownToBlonde/one.jpg", width:'100px' %> 
				<p>very nice</p>
			</div>
			<div class="col">
				<%= image_tag "brownToBlonde/two.jpg" , width:'100px' %> 
				<p>hello</p>
			</div>
			<div class="col">
				<%= image_tag "brownToBlonde/three.jpg", width:'100px'%> 
			</div>
			<div class="col">
				<%= image_tag "brownToBlonde/four.jpg", width:'100px'%> 
			</div>
			<div class="col">
				<%= image_tag "brownToBlonde/five.jpg", width:'100px'%> 
			</div>
			<div class="col">
				<%= image_tag "brownToBlonde/six.jpg", width:'100px'%> 
			</div>
			<div class="col">
				<%= image_tag "brownToBlonde/seven.jpg", width:'100px'%> 
			</div>
			<div class="col">
				<%image_tag "brownToBlonde/eight.jpg", width:'100px'%> 
			</div>

		</div>

	</div>

</section>